################~~~~ Rabbit MQ SBA ~~~~~##################
#### Run Command
## BASH
# kubectl apply -f ./__/K8S/A_DEPL_Broker/depl-rbmq-sba.yaml
# kubectl delete -f ./__/K8S/A_DEPL_Broker/depl-rbmq-sba.yaml
# kubectl rollout restart deployments depl-rbmq-sba

#-----------------------------#
# (0) RabbitMQ Virtual Host (vhost)
# - kubectl get configmaps
# - kubectl get configmaps cm-def-rabbit
# - kubectl delete configmaps cm-def-rabbit
# - kubectl describe configmap rabbit-definitions-cm
# - kubectl get configmap rabbit-definitions-cm -o yaml
#-----------------------------#
apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-def-rabbit
data:
  definitions.json: |
    {
      "vhosts": [
        { "name": "/sba" }
      ],
      "permissions": [
        {
          "user": "admin",
          "vhost": "/sba",
          "configure": ".*",
          "write": ".*",
          "read": ".*"
        }
      ]
    }
---
#-----------------------------#
# (1) RabbitMQ Deployment (SBA)
# - kubectl get deployment
# - kubectl get deployment depl-rbmq-sba
# - docker exec -it contID rabbitmqctl list_users # aec4
# - docker exec -it aec4 rabbitmqctl list_vhosts
# - kubectl delete deployment depl-rbmq-sba
#-----------------------------#
apiVersion: apps/v1
kind: Deployment
metadata:
  name: depl-rbmq-sba
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rbmq-sba
  template:
    metadata:
      labels:
        app: rbmq-sba
    spec:
      containers:
        - name: rbmq
          image: rabbitmq:3-management
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: admin
            - name: RABBITMQ_DEFAULT_PASS
              value: admin123
            - name: RABBITMQ_LOAD_DEFINITIONS
              value: /etc/rabbitmq/definitions.json
          ports:
            - name: management
              containerPort: 15672
              protocol: TCP
            - name: amqp
              containerPort: 5672
              protocol: TCP
          volumeMounts:
            - name: cm-def-rabbit-name
              mountPath: /etc/rabbitmq/definitions.json
              subPath: definitions.json
      volumes:
        - name: cm-def-rabbit-name
          configMap:
            name: cm-def-rabbit
---
#---------------------------------------------#
# (2) RabbitMQ ClusterIP Service (for internal)
# - Production Required
# - kubectl get svc
# - kubectl get svc srvc-cip-rbmq-sba
#---------------------------------------------#

apiVersion: v1
kind: Service
metadata:
  name: srvc-cip-rbmq-sba
spec:
  type: ClusterIP
  selector:
    app: rbmq-sba
  ports:
    - name: management
      port: 15672
      targetPort: 15672
      protocol: TCP
    - name: amqp
      port: 5672
      targetPort: 5672
      protocol: TCP
---
#---------------------------------------------#
# (3) RabbitMQ LoadBalancer Service (external)
# - Production Required
# - kubectl get svc
# - kubectl get svc srvc-lb-rbmq-sba
# - http://localhost:15672/#/exchanges
#---------------------------------------------#
apiVersion: v1
kind: Service
metadata:
  name: srvc-lb-rbmq-sba
spec:
  type: LoadBalancer
  selector:
    app: rbmq-sba
  ports:
    - name: management
      port: 15672
      targetPort: 15672
      protocol: TCP
    - name: amqp
      port: 5672
      targetPort: 5672
      protocol: TCP
