################~~~~ SBA JOB ~~~~~##################
# - Deployment
# - ClusterIP
# - Node Port

## BASH BUILD Dockerfile srvc-sba-job
## -t tagname, -f file/reference, ./buildContext  
# docker build -t mansanhhub/srvc-sba-job -f Projects/SBA.Job/Dockerfile .
# docker push mansanhhub/srvc-sba-job
# docker pull mansanhhub/srvc-sba-job

#------------------------------------------------------------------------- 
## BASH RUN Deployment srvc-sba-job
# kubectl apply -f ./__/K8S/B_DEPL_SRVC/depl-sba-job.yaml
# kubectl get pods
# kubectl get deployments
# kubectl logs -l app=srvc-sba-job
# kubectl rollout restart deployments depl-sba-job

## BASH DELETE (Deployments & Service)8
# kubectl delete -f ./__/K8S/B_DEPL_SRVC/depl-sba-job.yaml
# kubectl delete deployments depl-sba-job
# kubectl delete services srvc-cip-sba-job
#------------------------------------------------------------------------- 
#### (1) API Deployment (Job) 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: depl-sba-job
spec:
  replicas: 1
  selector:
    matchLabels:
      app: srvc-sba-job
  template:
    metadata:
      labels:
        app: srvc-sba-job
    spec:
      containers:
        - name: srvc-sba-job
          image: mansanhhub/srvc-sba-job
          ports:
            - containerPort: 1102
          env:
            - name: DOTNET_ENVIRONMENT
              value: K8S
            - name: ASPNETCORE_URLS
              value: http://+:1102
            - name: ConnectionStrings__Redis
              value: "srvc-cip-redis-sba-dev:6379,password=P@55w0rd!123"
            - name: ConnectionStrings__SqlConnection
              value: "Server=srvc-cip-mssql-sba-job,1433;Initial Catalog=SBA_Job;User ID=sa;Password=P@55w0rd!123;TrustServerCertificate=true;"
              # value: "Server=srvc-cip-mssql-sba-dev.default.svc.cluster.local,1433;Initial Catalog=SBA_Job;User ID=sa;Password=P@55w0rd!123;TrustServerCertificate=true;"

            - name: Clientz__Http_Host__Gateway
              value: http://srvc-cip-sba-api-gateway:1100
            - name: Clientz__Http_Host__Auth
              value: http://srvc-cip-sba-auth:1104

            - name: Clientz__RabbitMQz__HostName
              value: srvc-cip-rbmq-sba
            - name: Clientz__RabbitMQz__Port
              value: "5672"
            - name: Clientz__RabbitMQz__VirtualHost
              value: /sba
            - name: Clientz__RabbitMQz__Username
              value: admin
            - name: Clientz__RabbitMQz__Password
              value: admin123
---
#------------------------------------------------------------------------- 
#### (2) API Cluster IP (Job)
# - We need ClusterIP for Inter Service Communication
# - Production Required
# kubectl port-forward svc/srvc-cip-sba-job 1102:1102
# http://srvc-cip-sba-job:1102/api/job/v1/swagger/index.html
# http://srvc-cip-sba-job:1102/api/job/v1/_projectz-lookup/gets-lookup
# http://srvc-cip-sba-job:1102/api/job/v1/hangfire

apiVersion: v1
kind: Service
metadata:
  name: srvc-cip-sba-job
spec:
  type: ClusterIP
  selector:
    app: srvc-sba-job
  ports:
  - name: srvc-sba-job
    protocol: TCP
    port: 1102
    targetPort: 1102
    # nodePort: Not a Valid Option for Cluster IP

---
#-------------------------------------------------------------------------
#### (3) API Node Port (Job)
# - We need NodePort for External Service Access
# - No Production Required
apiVersion: v1
kind: Service
metadata:
  name: srvc-np-sba-job
spec:
  type: NodePort
  selector:
    app: srvc-sba-job
  ports:
    - name: srvc-sba-job
      protocol: TCP
      port: 1102 # Node Port
      targetPort: 1102 # Pod's App port
      nodePort: 31102 # 30000-32767 (Host Port)

## ROUTES (K8S Node Port)
# - http://localhost:31102/api/Job/v1/swagger/index.html
# - http://localhost:31102/api/job/v1/_projectz-lookup/gets-lookup
# - http://localhost:31102/api/job/v1/hangfire