################~~~~ SBA HIERARCHY ~~~~~##################
# - Deployment
# - ClusterIP
# - Node Port

## BASH BUILD Dockerfile srvc-sba-hierarchy
## -t tagname, -f file/reference, ./buildContext  
# docker build -t mansanhhub/srvc-sba-hierarchy -f Projects/SBA.Hierarchy/Dockerfile .
# docker push mansanhhub/srvc-sba-hierarchy
# docker pull mansanhhub/srvc-sba-hierarchy

#------------------------------------------------------------------------- 
## BASH RUN Deployment srvc-sba-hierarchy
# kubectl apply -f ./__/K8S/B_DEPL_SRVC/depl-sba-hierarchy.yaml
# kubectl get pods
# kubectl get deployments
# kubectl logs -l app=srvc-sba-hierarchy
# kubectl logs -l app=srvc-sba-hierarchy --all-containers=true --tail=-1
# kubectl logs -l app=srvc-sba-hierarchy -f --all-containers=true
# kubectl rollout restart deployments depl-sba-hierarchy

## BASH DELETE (Deployments & Service)
# kubectl delete -f ./__/K8S/B_DEPL_SRVC/depl-sba-hierarchy.yaml
# kubectl delete deployments depl-sba-hierarchy
# kubectl delete services srvc-cip-sba-hierarchy
#------------------------------------------------------------------------- 
#### (1) API Deployment (Hierarchy) 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: depl-sba-hierarchy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: srvc-sba-hierarchy
  template:
    metadata:
      labels:
        app: srvc-sba-hierarchy
    spec:
      containers:
        - name: srvc-sba-hierarchy
          image: mansanhhub/srvc-sba-hierarchy
          ports:
            - containerPort: 1106
          env:
            - name: DOTNET_ENVIRONMENT
              value: K8S
            - name: ASPNETCORE_URLS
              value: http://+:1106

            - name: ConnectionStrings__Redis
              value: "srvc-cip-redis-sba-dev:6379,password=P@55w0rd!123"
            - name: ConnectionStrings__SqlConnection
              value: "Server=srvc-cip-mssql-sba-dev.default.svc.cluster.local,1433;Initial Catalog=SBA_Hierarchy;User ID=sa;Password=P@55w0rd!123;TrustServerCertificate=true;"
              # value: "Server=srvc-cip-mssql-sba-hierarchy.default.svc.cluster.local,1433;Initial Catalog=SBA_Hierarchy;User ID=sa;Password=P@55w0rd!123;TrustServerCertificate=true;"
            
            - name: Clients__Http_Host__Gateway
              value: http://srvc-cip-sba-api-gateway:1100
            - name: Clients__Http_Host__Auth
              value: http://srvc-cip-sba-auth:1104

            - name: Clients__RabbitMQz__HostName
              value: srvc-cip-rbmq-sba
            - name: Clients__RabbitMQz__Port
              value: "5672"
            - name: Clients__RabbitMQz__VirtualHost
              value: /sba
            - name: Clients__RabbitMQz__Username
              value: admin
            - name: Clients__RabbitMQz__Password
              value: admin123
---
#------------------------------------------------------------------------- 
#### (2) API Cluster IP (Hierarchy)
# - We need ClusterIP for Inter Service Communication
# - Production Required
# kubectl port-forward svc/srvc-cip-sba-hierarchy 1106:1106
# http://srvc-cip-sba-hierarchy:1106/api/hierarchy/v1/swagger/index.html
# http://srvc-cip-sba-hierarchy:1106/api/hierarchy/v1/_projectz-lookup/gets-lookup

apiVersion: v1
kind: Service
metadata:
  name: srvc-cip-sba-hierarchy
spec:
  type: ClusterIP
  selector:
    app: srvc-sba-hierarchy
  ports:
  - name: srvc-sba-hierarchy
    protocol: TCP
    port: 1106
    targetPort: 1106
    # nodePort: Not a Valid Option for Cluster IP

---
#-------------------------------------------------------------------------
#### (3) API Node Port (Hierarchy)
# - We need NodePort for External Service Access
# - No Production Required
apiVersion: v1
kind: Service
metadata:
  name: srvc-np-sba-hierarchy
spec:
  type: NodePort
  selector:
    app: srvc-sba-hierarchy
  ports:
    - name: srvc-sba-hierarchy
      protocol: TCP
      port: 1106 # Node Port
      targetPort: 1106 # Pod's App port
      nodePort: 31106 # 30000-32767 (Host Port)

## ROUTES (K8S Node Port)
# - http://localhost:31106/api/Hierarchy/v1/swagger/index.html
# - http://localhost:31106/api/hierarchy/v1/_projectz-lookup/gets-lookup